body {
    background-color: #f7f7f7;
}

h1,
h2,
h3,
h6 {
    color: #6E6E6E;
    text-align: center;
}

h2 {
    font-size: 3em;
    font-weight: 500;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

h4{
    color: #6E6E6E;
    text-align: right;
}

p {
    color: #6E6E6E;
    font-size: 20px;
    font-family: 'Noto Sans TC';
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flexbox-item {
    text-align: left;
    flex-basis: 49%;
}

.flexbox-item-row {
    flex-basis: 95%;
}


.changebtn-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom:70px;
    max-width: 1200px;
}

.change-item button{
    /* margin: 0px 10px; */
    min-width:200px;
    max-width:250px;
    min-height:50px;
    max-height: 70px;
    
    /* flex-basis: 100%; */
}

.menu {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.menu:hover {
    transform: scale(1.4);
}

.menu.active {
    transform: scale(1.4);
}

.button {
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.4);
}

.button.active {
    transform: scale(1.4);
}
